[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
jupyter = "*"
notebook = "*"
jupyterlab-night = "*"
scikit-learn = "*"
skforecast = "*"
prophet = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.13"
